<div class="class cat-background" novalidate>
  <div class="main-padding">
      <div class="main-tack left"><i class="fas fa-dice-d20"></i></div>
      <div class="main-tack right"><i class="fas fa-dice-d20"></i></div>
  </div>
<div class="form-title">New Table</div>
<form>
  <div class="form-group">
    <label for="gameName">Table Name</label>
    <input type="text" class="form-control" id="GameName" name="GameName" aria-describedby="help" placeholder="New Table Name">
    <small id="help" class="form-text text-muted valid-feedback">3-20 alphanumeric characters.</small>
    <small class="invalid-feedback"> Sorry, but you can only use 3-20 alphanumeric characters.</small>
  </div>
  <div class="text-center container-fluid icon-submit-container">
      <div class="icon-submit-back"><input ngSubmit type="image" class="icon-submit" src="../../../assets/images/feathers_t.png" alt="Submit" /></div>
      <div class="icon-submit-front">Submit</div>

  </div>
</form>
<div class="main-padding">
    <div class="main-tack left"><i class="fas fa-dice-d20"></i></div>
    <div class="main-tack right"><i class="fas fa-dice-d20"></i></div>
</div>
</div>
