.profile-description-info {
  min-height: 75px;
  text-shadow:
    -1px -1px 0 var(--dnonyx),
    1px -1px 0 var(--dnonyx),
    -1px 1px 0 var(--dnonyx),
    1px 1px 0 var(--dnonyx);
    color:white;
}
