<div class="container-flex d-flex">

<div class="cat-background col-6">
    <div class="form-title">Character List</div>
        <app-loading-spin *ngIf="showSpinner"></app-loading-spin>
        <table class="table table-striped table-hover" *ngIf="!showSpinner">
            <tbody>
                <tr > <!-- {{ country.name }} the tr needs : *ngFor="let character of char"-->
                <td class="col-4">
                    <!-- {{dbndProfText}} -->
                    <p>Id: {{ auth.clientId }}</p>
                </td>
                <td class="col-2">
                    <input type="image" (click)="characterSelected=true" class="icon-submit-use" src="../../../assets/images/target_t.png" placement="left" ngbTooltip="Select this character." tooltipClass="table-character-right" />
                </td>
                </tr>
            </tbody>
        </table>

        <!-- <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="20"
            [(page)]="page"
            [pageSize]="pageSize"
          >
          </ngb-pagination>

          <select
            class="custom-select"
            style="width: auto"
            [(ngModel)]="pageSize"
          >
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
          </div> -->

    </div>
    <div *ngIf="characterSelected" class="character-description col-6">
        <div class="cat-background">
            <div class="form-title">
                CHARACTER NAME GOES HERE
            </div>
            <div>
                <div class="character-description-info">
                    Owner Info goes here.
                </div>
                <app-loading-spin *ngIf="showSpinner"></app-loading-spin>

                <div class="text-center container-fluid icon-submit-container">
                        <div class="icon-submit-back"><input ngSubmit type="image" class="icon-submit" src="../../../assets/images/exit_t.png" alt="Submit" /></div>
                        <div class="icon-submit-front">Remove</div>
                
                    </div>

            </div>
        </div>
    </div>