<div class="container-flex text-center cat-heading">
  Tables
</div>

  <ng-template #createTable let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Table</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="tableName">Table Name</label>
                <div class="input-group">
                <input id="tableName" type="text" placeholder="Table name...">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<ng-template #joinTable let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Table</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="tableName">Table GUID</label>
                <div class="input-group">
                <input id="joinTableId" type="text" placeholder="Table GUID...">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<div>
    <div class="input-group">
        <button class="nav" (click)="openCreate(createTable)">Create New Table</button>
        <button class="nav" (click)="openJoin(joinTable)">Join Existing Table</button>
    </div>

    <br>
    <div>
        <h2>Your Tables:</h2>
    </div>
</div>
