.main-group {
    max-width: 320px;

    margin: auto;
    margin-top: 3cm;
    padding: 20px;

    border: 2px soild var(--lineColor);
    background-color: var(--frontColor);
    
    -webkit-box-shadow: 2px 3px 8px var(--lineColor);
    -moz-box-shadow: 2px 3px 8px var(--lineColor);
    box-shadow: 2px 3px 8px var(--lineColor);
}