<div class="class cat-background">
    <div class="main-padding">
        <div class="main-tack left"><i class="fas fa-dice-d20"></i></div>
        <div class="main-tack right"><i class="fas fa-dice-d20"></i></div>
    </div>
  <div class="form-title">Join Table</div>
  <div class="join-message">
    <p>Send the character code below to the Dungeon Master of the table you want to join.</p>
    <p> {{targetID}} </p>
  </div>
    
  <div class="main-padding">
      <div class="main-tack left"><i class="fas fa-dice-d20"></i></div>
      <div class="main-tack right"><i class="fas fa-dice-d20"></i></div>
  </div>
  </div>
