

    <div class="class cat-background">
        <div class="main-padding">
            <div class="main-tack left"><i class="fas fa-dice-d20"></i></div>
            <div class="main-tack right"><i class="fas fa-dice-d20"></i></div>
        </div>
      <div class="form-title">Character List</div>


      <table class="table table-striped table-hover">

          <tbody>
            <tr > <!-- {{ country.name }} the tr needs : *ngFor="let character of char"-->
              <td class="col-4">
                Rowan Eaglesmithers<!-- {{ country.name }} the tr needs : *ngFor="let character of char"-->
              </td>
              <td class="col-3">
                  <input type="image" class="icon-submit-use" src="../../../assets/images/location_t.png" />
              </td>
              <td class="col-3">
                  <input type="image" class="icon-submit-use" src="../../../assets/images/gear_t.png" />
              </td>
            </tr>
            <tr > <!-- {{ country.name }} the tr needs : *ngFor="let character of char"-->
              <td class="col-4">
                Darnog Lightsgrothingtons<!-- {{ country.name }} the tr needs : *ngFor="let character of char"-->
              </td>
              <td class="col-3">
                  <input type="image" class="icon-submit-use" src="../../../assets/images/location_t.png" />
              </td>
              <td class="col-3">
                  <input type="image" class="icon-submit-use" src="../../../assets/images/gear_t.png" />
              </td>
            </tr>
          </tbody>
        </table>

        <!-- <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="20"
            [(page)]="page"
            [pageSize]="pageSize"
          >
          </ngb-pagination>

          <select
            class="custom-select"
            style="width: auto"
            [(ngModel)]="pageSize"
          >
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
          </div> -->



      <div class="main-padding">
          <div class="main-tack left"><i class="fas fa-dice-d20"></i></div>
          <div class="main-tack right"><i class="fas fa-dice-d20"></i></div>
      </div>
    </div>

