<div class="class cat-background">
    <div class="main-padding">
        <div class="main-tack left"><i class="fas fa-dice-d20"></i></div>
        <div class="main-tack right"><i class="fas fa-dice-d20"></i></div>
    </div>
  <div class="form-title">New Character</div>
  <form>
    <div class="form-group">
      <label for="exampleInputFirstName">First Name</label>
      <input type="text" class="form-control" id="FirstName" name="FirstName" aria-describedby="emailHelp" placeholder="Characters First Name">
      <small id="nameHelp" class="form-text text-muted">3-20 alphanumeric characters.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputLastName">Lastname</label>
      <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name">
      <small id="nameHelp" class="form-text text-muted">3-20 alphanumeric characters.</small>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="class text-center">
      <div class="icon-submit-back"><input type="image" class="icon-submit" src="../../../assets/images/feathers_t.png" />
      </div>
        <div class="icon-submit-front">Submit</div>
    </div>
  </form>
  <div class="main-padding">
      <div class="main-tack left"><i class="fas fa-dice-d20"></i></div>
      <div class="main-tack right"><i class="fas fa-dice-d20"></i></div>
  </div>
</div>
