<nav class="navbar navbar-expand-md navbar-light bg-light nav-fill" *ngIf="auth.loggedIn">
    <span class="navbar-brand">
      <div class="row">
          <div class="col-4">
            <img class="logo" src="../../assets/images/chest_t.png" alt="Chest Logo">
          </div>
          <div class="col-4 mx-3 my-auto">
            <div class="text-center navbar-logo-text">DnD</div>
            <div class="text-center  navbar-logo-text">Trunk</div>
          </div>
        </div>
    </span>

    <ul class="navbar-nav mx-auto">
        <li class="nav-mid">
          <a routerLink="/characters" class="nav-link" style="cursor: pointer" role="button" id="navbarCharacters">
            <div><div><img class="navbar-icon" src="../../assets/images/scarecrow_t.png" alt=""></div><div class="navbar-icon-text">Characters</div></div>
          </a>
        </li>
        <li class="nav-mid">
          <a class="nav-link" style="cursor: pointer" role="button" id="navbarTables" routerLink="/tables">
            <div class="navbar-icon-effects"><div><img class="navbar-icon" src="../../assets/images/map_t.png" alt=""></div><div class="navbar-icon-text">Tables</div></div>
          </a>
        </li>
        <li class="nav-mid">
          <a class="nav-link" style="cursor: pointer" role="button" id="navbarProfile" routerLink="/profile">
            <div class="navbar-icon-effects"><div><img class="navbar-icon" src="../../assets/images/crown_t.png" alt=""></div><div class="navbar-icon-text">Profile</div></div>
          </a>
        </li>
    </ul>

    <ul class="navbar-nav pull-right">
        <li class="nav-mid">
          <a class="nav-link" style="cursor: pointer" role="button" id="navbarLogout" (click)="auth.logOut()">
            <div><div><img class="navbar-icon" src="../../assets/images/exit_t.png" alt=""></div><div class="navbar-icon-text">Logout</div></div>
          </a>
        </li>
    </ul>
</nav>
