<div class="container-flex text-center cat-heading">
  Characters
</div>

<div class="container-flex">
  <div class="class row d-flex justify-content-center">
    <div class="class col-5 text-center cat-col">
        <app-newform></app-newform>
    </div>

    <div class="class col-5 text-center">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Character Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of char">
            <td>
              <!-- {{ country.name }} -->
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
        >
        </ngb-pagination>

        <select
          class="custom-select"
          style="width: auto"
          [(ngModel)]="pageSize"
        >
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
