.table{
    font-family: var(--dnnormal);
    color: white;
    font-weight: bold;
  
  }
  
  .icon-submit-use:hover, .icon-submit-edit:hover {
    background-image : radial-gradient(ellipse, white, transparent 70%)
  }
  
  .icon-submit-use{
    width: 36px;
  }
  .icon-submit-edit{
    width: 42px;
  }
  
  .icon-submit-use, .icon-submit-edit :focus {
    outline: none;
  }
  
  table.table-hover tbody tr:hover {
    background-color: rgba(145, 195, 106, .3);
  }

  .game-character-left{
      padding: 3px;
      margin-right: 5px;
      border-top: 3px solid var(--dnred);
      border-right: 3px solid var(--dnred);
      background: rgba(53,56,57,.9)
  }

  .game-character-right{
    padding: 3px;
    border-top: 3px solid var(--dnred);
    border-left: 3px solid var(--dnred);
    background: rgba(53,56,57,.9)
}