<div class="main" id="main" *ngIf="!auth.loggedIn">
    <div class="main-inside">
        <div class="main-padding">
            <div class="main-tack left"><em class="fas fa-dice-d20"></em></div>
            <div class="main-tack right"><em class="fas fa-dice-d20"></em></div>
        </div>
        <h1>DnD Trunk</h1>
        <p class="">Keep it here, so it's not everywhere.</p>
        <a class="main-auth-link text-center" (click)="auth.logIn();">
            <p><img class="main-auth-logo" src="../assets/images/key_t.png" alt=""></p>
            <p class="">Please login or register to continue!</p>
        </a>
        <div class="main-padding">
            <div class="main-tack left"><em class="fas fa-dice-d20"></em></div>
            <div class="main-tack right"><em class="fas fa-dice-d20"></em></div>
        </div>
    </div>
</div>