
.main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 400px;
  width: 100%;
  min-width: 500px;

}

.main-inside{
  width: 500px;
  display:flex;
  flex-direction: column;
  align-items: center;
  color: var(--dnonyx);
  background-color: var(--dngreen);
  padding: 0px;
  border-radius: 15px;
}

.main h1{
  font-size: 3em;
  font-family: 'MedievalSharp', sans-serif;
  font-weight: bold;
  margin: 5px 0 0 0;
}

.main p {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin: 0 0 10px 0px;
  letter-spacing: 1px;
}

.main-auth-logo {
  height: 75px;
}

.main-auth-link:hover {
  cursor: pointer;
}

.homelink {
  color: var(--dnonyx);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color .8s, border-bottom 1s;
}

.homelink:hover {
  color: var(--dnonyx);
  border-bottom: 1px solid var(--dnonyx);
  cursor: pointer;
}

.main .mainAboutLink {
  display: flex;
}

.main .mainAboutLink i {
  padding: 0 5px;
}

.main-padding {
  display:flex;
  flex-direction: row;
  width:100%;
}

.main-tack {
  font-size: 24px;
  color: var(--dnred);
  flex-grow: 1;
}

.right{
  padding-right: 5px;
  text-align: right;
  align-content: right;
}

.left{
  padding-left: 5px;
  text-align: left;
  align-content: left;
}
