/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

:root {
    --bgColor: rgb(218, 253, 255);
    --frontColor: azure;
    --lineColor: white;
}

body {
    background-color: var(--bgColor);
}
